<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
			uri="platform:/resource/net.reimone.ttloc.model.usergames/metamodel/UserSpiele.xsd"
            class="net.reimone.ttloc.model.UserSpiele.UserSpielePackage"
            genModel="metamodel/UserSpiele.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="userspiele"
            class="net.reimone.ttloc.model.UserSpiele.util.UserSpieleResourceFactoryImpl"/>
   </extension>

</plugin>
