<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.reimone.net/ttloc"
            class="net.reimone.ttloc.model.ttloc.TtlocPackage"
            genModel="metamodel/ttloc.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="ttloc"
            class="net.reimone.ttloc.model.ttloc.util.TtlocResourceFactoryImpl"/>
   </extension>

</plugin>
